<!DOCTYPE html>

<html>
    <head>
        <title>HappyGroup</title>
        <link type="text/css" href="css/novelDescription.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="flex-container-vertical main-container drop-shadow">
            <div class="flex-container-horizontal">
                <div class="cover-section drop-shadow float"> 
                    <img src="https://static.8cache.com/cover/eJzLyTDWr8g0KCmwdHIMCMp0MTQsNw9yMzXyczXLMXTyiTfNcEv3twzPzIvMTXRycwvON8gJzst1CsgLdw5zTDQ3SgyLMCkvLCgyL64odfENi_Dxcgq1LTcyM9XNMLY0AwCE9x2t/than-dao-dan-ton-6060282.jpg" alt="Thần Đạo Đan Tôn" class="img-responsive item-img" itemprop="image">
                </div>

                <div class="name-author-section">
                    <h1>Thần đạo đan tôn</h1>

                    <h4>Cô đơn địa phi</h4>

                    <label for="select-option-3">Nguồn</label>

                    <select id="select-option-3" class="choose-link">
                        <option value="truyenfull.vn">truyenfull.vn</option>
                        <option value="tangthuvien.com">tangthuvien.com</option>
                        <option value="metruyen.vn">metruyen.vn</option>
                    </select>

                    <Button class="read-novel-btn">
                        <span>
                            Bắt đầu đọc
                        </span>
                    </Button>

                    <div> 
                        <hr class="hr-two">             
                    </div>
                </div>
            </div>

            <div class="flex-container-horizontal detail-section">
                <div class="description-section">
                    <h3>
                        Mô tả
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>

                <div class="category-section">
                    <h3>
                        Thể loại
                    </h3>

                    <p>
                        Do something evil
                    </p>
                </div>
            </div>

            <div> 
                <hr class="hr-one">             
            </div>


            <div class="chapter-list">
                <h3>
                    Danh sách chương
                </h3>
            </div>
        </div>
    </body>
</html>