<!DOCTYPE html>

<html>
    <head>
        <title>HappyGroup</title>
        <link type="text/css" href="css/novelDescription.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="container">
                <div class="novel-cover">
                    <img src="https://static.8cache.com/cover/eJzLyTDWr8g0KCmwdHIMCMp0MTQsNw9yMzXyczXLMXTyiTfNcEv3twzPzIvMTXRycwvON8gJzst1CsgLdw5zTDQ3SgyLMCkvLCgyL64odfENi_Dxcgq1LTcyM9XNMLY0AwCE9x2t/than-dao-dan-ton-6060282.jpg" alt="Thần Đạo Đan Tôn" class="img-responsive item-img" itemprop="image">
                </div>
        
                <div class="novel-intro">
                    <div>
                        <h1>Thần Đạo Tôn</h1>
                        <h4>Cô đơn địa phi</h4>
    
                        <label for="select-option-3">Nguồn</label>
    
                        <select id="select-option-3" class="choose-link">
                            <option value="truyenfull.vn">truyenfull.vn</option>
                            <option value="tangthuvien.com">tangthuvien.com</option>
                            <option value="metruyen.vn">metruyen.vn</option>
                        </select>
    
                        <Button class="read-novel-btn">
                            <span>
                                Bắt đầu đọc
                            </span>
                        </Button>
    
                        <hr>
                    </div>
                </div>
                <div class="break"></div>

                <div name="novel-description">
                    <H3>
                        Mô tả
                    </H3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="break"></div>

                <div name="novel-tag">
                    <H3>
                        Thể loại
                    </H3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>

                <h3>
                    Danh sách chương
                </h3>

                <div class="break"></div>

                <div name="chapter-list">

                </div>
            </div>
        </div>
    </body>
</html>