body {
    background-color: #C8C5BC;
    align-items: center;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10% auto;
    font-family: 'JetBrains Mono';
}

.flex-container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
    font-family: 'JetBrains Mono';
    height: max-content;
}

.cover-section {
    width: 260px;
    height: 390px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: 60%;
    height: 100%;
    background-color: #EDEBDF;
}

.name-author-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.name-author-section h4 {
    margin: 0;
}

.name-author-section h1 {
    margin-top: 5%;
    font-size: 8vw;
}

.next-chapter-button {
    background-color: #1E1E1E;
    border: none;
    color: white;
    font-family: 'JetBrains Mono';
    padding: 10px;
    display: flex;
    width: 100px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.next-chapter-button span {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next-chapter-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.next-chapter-button:hover span {
    padding-right: 25px;
}

.next-chapter-button:hover span:after {
    opacity: 1;
    right: 0;
}

.name-author-section label {
    margin-top: 10%;
}

#select-option-3 {
    width: fit-content;
    height: fit-content;
    font-family: 'JetBrains Mono';
    text-align: center;
}

.float {
    transform: translateY(-15%);
}

.drop-shadow {
    box-shadow: -10px 10px 4px slategray;
}

.drop-shadow-5px {
    box-shadow: -5px 5px 4px slategray;
    display: block;
}

.description-section {
    align-self: self-start;
    width: 50%;
}

.category-section {
    align-self: self-start;
    width: 50%;
}

.detail-section {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.chapter-list {
    font-family: 'JetBrains Mono';
    margin: 0 auto;
    width: 100%;
    background-color: aqua;
}

.hr-one {
    border-top: 2px solid #1E1E1E;
    width: 90%;
}

.hr-two {
    border-top: 2px solid #1E1E1E;
    margin-right: 10%;
}

.cover-section img {
    width: 100%;
    height: 100%;
}

.header {
    width: 60%;
    height: 100%;
    margin: 5% auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.header h1, h3, h4 {
    margin-top: 5px;
}

.chapter {
    padding: 20px;
    margin-top: 0%;
}

.previous-chapter-button {
    background-color: #1E1E1E;
    border: none;
    color: white;
    font-family: 'JetBrains Mono';
    padding: 10px;
    display: flex;
    width: 100px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.previous-chapter-button span {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.previous-chapter-button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.previous-chapter-button:hover span {
    padding-left: 25px;
}

.previous-chapter-button:hover span:after {
    opacity: 1;
    left: 0;
}

.top-container {
    align-content: center;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin: auto;
}


.toolbar {
    align-content: space-evenly;
    align-items: center;
    justify-items: center;

    margin-bottom: 5%;

    width: 80%;
}

.toolbar select {
    width: 100px;
    height: 50px;
}

.back-button {
    font-size: 12px;
    width: fit-content;
    background-color: cadetblue;
}

.toolbar-button {
    font-size: 12px;
    width: fit-content;
    background-color: cadetblue;
    border: none;
    color: white;
    font-family: 'JetBrains Mono';
    padding: 10px;
    display: flex;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.toolbar-button span {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.toolbar-button:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
    background-color: #505f88;
}

.toolbar-button:hover{
    background-color: #505f88;
}

#text-color {
    width: 25px;
    height: 25px;
}

#background-color {
    width: 25px;
    height: 25px;
}

#line-spacing {
    width: 50px;
    height: 25px;
}

#font-name {
    width: 50px;
    height: 25px;
}

#font-size {
    width: 50px;
    height: 25px;
}

.hidden {
    display: none;
    transform: scaleY(0);
}

.toolbar {
    transition: all 2s ease-in-out;
    transform-origin: left top;
    transform: scaleY(1);

    width: 100%;
}

#font-name {
    width: fit-content;
    font-family: 'JetBrains Mono';
}

#chapter-selector {
    width: fit-content;
    font-family: 'JetBrains Mono';
}


#back-to-top-btn {
    background-color: #1E1E1E;
    border: none;
    color: white;
    font-family: 'JetBrains Mono';
    position: fixed;
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-left: 15px;
    border-radius: 50%;
}

#back-to-top-btn:hover{
    background-color: #505f88;
}